/***************************************
Developed by: Pasindu Upendra
Contact: pasindu@toadcreatives.com
URI: toadcreatives.com
.............................=======:...
...................~~~~~~~.~~~~~======..
..................=~~~~~~~~~~~.....~~~..
..................~~~...~~~~......:~~~..
.................=~~~...=~~~.....~~~~...
..............~~~~~~~~~~~~~.....~~~~....
..........~~~~~~~~..~~~~~~.....~~~~.....
........~~~~~~~...~~:...................
......~~~~~..,~~~~~~~~~~~...............
....:~~~~....~~~~~:.~~~~~~~.............
...~~~~.................~~~~............
...~~~...................~~~~...........
..~~~~....................:~~~..........
..~~~......................~~~~.........
..~~~.......................~~~.........
..~~~.......................~~~.........
..~~~.......................~~~.........
..~~~~......................~~~.........
...~~~.....................~~~~:........
...~~~~...................~~~~~~........
....~~~~~................~~~~~~~........
......~~~~~,..........~~~~~~.~~~~.......
........~~~~~~~~~~~~~~~~~~....~~~~~=....
...........~~~~~~~~~~~~........~~~~~....
........................................  

***************************************/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800');
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
html {
    height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
}
main.container-fluid {
  padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.no-gutter {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.wow {
  visibility: hidden;
}
.font-weight-light {
  font-weight: 300 !important;
}
.font-weight-normal {
  font-weight: 400 !important;
}
.font-weight-medium {
  font-weight: 500 !important;
}
.font-weight-semibold {
  font-weight: 600 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.bouncing {
     animation: bouncing 3s infinite;
}
 @keyframes bouncing {
     0% {
         transform: translateY(0);
    }
     40% {
         transform: translateY(-8px);
    }
     60% {
         transform: translateY(8px);
    }
}

/************ Nav *************/
#main-nav {
  background: #fff;
}
.navbar .container-fluid {
    padding: 0 3rem;
}
.navbar-brand {
    margin-right: 3rem;
}
.navbar-brand img {
    max-width: 60px;
}
.nav-title {
    text-align: center;
    width: 30%;
}
.nav-title h2 {
    color: #44484b;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 1.7rem;
}
.nav-title p {
    color: #a0b4c3;
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: .5px;
}
.nav-profile {
    position: relative;
    margin-top: 1rem;
}
.profile-img {
    position: absolute;
    top: -50%;
    right: 160px;
}
.nav-profile p {
    color: #778d9d;
    font-weight: 700;
    margin-left: 15%;
}
.profile {
    min-width: 175px;
}
@media (max-width: 991.98px) {
  html,
  body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
  }
  .navbar .container-fluid {
    padding: 0rem;
  }
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
  .profile {
    padding: 2rem 0;
  }
  .profile-img {
    position: absolute;
    top: 12px;
    left: 2%;
  }
  .nav-profile p {
    margin-left: 80px;
  }
  .nav-title {
    width: auto !important;
  }
}
.hamburger:focus {
  border: none;
  outline: none;
}
.hamburger {
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -7px; }
  .hamburger-inner::after {
    bottom: -10px; }

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -14px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*********** Footer ***********/
#footer {
    padding: 2rem 0 1rem 0;
    background: #deeef2;
}
.footer-links, .footer-social {
    margin-bottom: 0;
    padding-inline-start: 0;
}
.footer-links li {
    display: inline-block;
    padding: 0 1.2em;
    border-right: 1px solid #fff;
    line-height: 12px;
    color: #5ba5b8;
    letter-spacing: .5px;
    font-size: 14px;
}
.footer-links li:last-child {
  padding-right: 0;
  border: none;
}
.footer-links li a {
  color: #5ba5b8;
}
.footer-social li {
    display: inline-block;
    padding: 0 .3em;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
.footer-social li:hover {
    -moz-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
/************ Home ************/
#top-section {
    background: url(../img/hero_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}
#hero-section {
    text-align: center;
    min-height: 700px;
}
#hero-section h1 {
    color: #45474b;
    font-weight: 300;
    letter-spacing: 1.5px;
    font-size: 3.2em;
    margin-bottom: 2vh;
    line-height: 1em;
}
#hero-section h3 {
  font-size: 1.4em;
    color: #96a2a5;
    font-weight: 300;
    padding: 0 4vw;
    margin-bottom: 24%;
}
.hero-logo {
    margin-top: 20%;
    margin-bottom: 10%;
}
.scroll-section {
    position: absolute;
    width: 100%;
    bottom: 4%;
    left: 0;
    text-align: center;
}
.scroll-icon {
  background: url(../img/scroll_bg.png);
  background-size: contain;
  width: 70px;
    height: 85px;
    margin: 0 auto;
}
.scroll-arrow {
    margin-top: 30px;
    max-width: 15px;
}
.section-2-col {
  text-align: center;
}
.section-2-col img {
    margin-right: -15px;
    max-width: 80%;
}
.section-2-col h3 {
    font-size: 1.35em;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 16px;
    color: #45474b;
}
.section-2-col p {
    padding: 0 2em;
    color: #71a0ad;
    font-size: 17px;
}
.slack-btn img {
    padding: 5px 3%;
    border: 5px solid #e3e3e7 !important;
    border-radius: 50px;
    width: 35%;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.04);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.04);
}
#video-section {
  padding: 0;
  background: url(../img/video_section_bg.png);
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  overflow: hidden;
}
#video-section .plyr__poster {
    background-size: cover !important;
}
#video-section .plyr--stopped .plyr__controls {
    opacity: 0;
}
#video-section .plyr__control--overlaid {
    background: rgba(163,209,253,0.8);
    padding: 35px;
}
#video-section .plyr--video {
    border: none;
    border-radius: 80px;
}
#video-section .video-col {
    padding: 2.5%;
    border: 10px solid #f0f3f3;
    border-radius: 110px;
}


/********* Recording *********/
.rocrding-container {
    display: inline-flex;
}
.nav-recording {
    background: #e9f1f3;
    padding: 5px 0px 5px 5px;
    border-radius: 60px;
}
.btn-record, .btn-restart {
    background: #163139;
    color: #fff;
    padding: 5px 20px 5px 40px;
    margin: 0 .5rem;
    border-radius: 50px !important;
    font-size: 15px;
    min-width: 116px;
}
.btn-record:hover, .btn-restart:hover {
  color: #fff;
}
.recording-btn {
    margin-right: -8px;
}
.btn-restart {
    margin-right: 0;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
.recording-btn {
    margin-right: -8px;
}
.recording-btn .btn img {
    position: absolute;
    left: 3px;
    top: 3px;
}
.recording-timer {
    color: #676767;
    font-weight: 600;
}
.btn-restart:hover img{
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
#recording-bottom {
  background: url(../img/recording_bottom_bg.png);
}
#video-screen {
  max-height: 85vh;
  min-height: 80vh;
  overflow: hidden;
  background: #6a6a6a;
}
#video-screen img {
  max-width: 60%;
  margin-top: 10vh;
}
.recording-ques {
    width: 100%;
    background: #fdfefe;
    border-radius: 50px;
}
.recording-ques ul {
    text-align: center;
    margin: 1rem 0;
    padding: 1rem;
}
.recording-ques ul li {
    display: inline-block;
    min-width: 28%;
    margin: 0 auto;
    padding: 0 1rem;
    font-weight: 600;
    color: #778d9d;
    letter-spacing: .5px;
    text-align: center;
}
.recording-ques ul li:first-child {
  text-align: left;
}
.recording-ques ul li:last-child {
  text-align: right;
}
.recording-ques ul li span{
  color: #616d76;
}
@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.recording img{
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-direction: alternate;
}
/********** Survey ************/
#survey {
  background: url(../img/survey_bg.png);
  overflow: hidden;
}
#survey-section {
    background: #fff;
    min-height: 75vh;
    margin: 5rem 0;
    padding: 4rem;
    border-radius: 60px;
    border: none;
    -webkit-box-shadow: 0 5px 35px 0 rgba(0,0,0,.2);
    box-shadow: 0 5px 35px 0 rgba(0,0,0,.2);
}
#survey-section .progress {
    position: relative;
    height: 3rem;
    border-radius: 50px;
    background: #ebf6f9;
    -webkit-box-shadow:inset 0 2px 10px 1px rgba(0,0,0,.09);
    box-shadow:inset 0 2px 10px 1px rgba(0,0,0,.09);
}
#survey-section .progress-bar {
    background: #37e398;
}
.progress-border {
    padding: .8rem;
    border: 7px solid #fbfbfb;
    border-radius: 60px;
}
.progress-txt {
    position: absolute;
    top: .8rem;
    left: 3rem;
    color: #90fdcd;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 1rem;
}
.survey-txt {
    margin: 2rem;
    text-align: center;
}
.survey-txt h4 {
    color: #494e52;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.survey-txt p {
    color: #778d9d;
    padding: 0 3rem;
    letter-spacing: .3px;
}
.survey-skip {
    text-align: center;
    margin-top: 2rem;
}
.skip-btn {
    font-size: 14px;
    border-radius: 50px;
    padding: .5rem 4rem;
    border-width: 2px;
    font-weight: 700;
    letter-spacing: .5px;
    color: #7acbe2;
    border-color: #7acbe2;
} 
.skip-btn:hover {
  background: #7acbe2;
  border-color: #7acbe2;
}
.w-20 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.survey-icons {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#survey-options .col {
    text-align: center;
    cursor: pointer;
}
#survey-options img {
    max-width: 75%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-bottom: 1rem;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
#survey-options h5 {
    color: #494e52;
    font-weight: 700;
    letter-spacing: .5px;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    text-transform: uppercase;
    font-size: 15px;
}
#survey-options {
    max-width: 80%;
    margin: 0 auto;
}
#survey-options .col:hover h5 {
    color: #fbb72a;
}
#survey-options .col:hover img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

/************  Extra small devices (portrait phones, less than 576px) ************/
@media (max-width: 575.98px) {
  .title-txt {
    margin-left: 0;
    padding: 1em 0 0 0;
  }
  .hero-contents {
    min-height: 600px;
  }
  #hero-section {
    background: url(../img/hero_bg_mobile.png);
    background-repeat: no-repeat;
    background-size: 420px 600px;
    background-position: top center;
    max-height: 680px;
  }
  .scroll-section {
    top: 538px;
    bottom: unset;
  }
  .nav-recording {
    margin: 0 auto;
  }
  #top-section {
    background-size: auto 50%;
  }
  .slack-btn img {
    width: 60%;
  }
  #video-section .video-col {
    border-radius: 30px;
    padding: 2.5%;
    margin: 0 5%;
  }
  #video-section .plyr--video {
    border: none;
    border-radius: 20px;
  }
  #video-screen {
    max-height: 62vh;
    min-height: 60vh;
  }
  #video-screen img {
      max-width: 60%;
      margin-top: 30%;
  }
  .recording-ques ul {
    text-align: left;
  }
  .recording-ques {
    border-radius: 15px;
  }
  .recording-ques ul li:last-child, .recording-ques ul li:first-child, .recording-ques ul li {
    text-align: left;
    margin: .3rem 0;
  }
  .nav-title {
    margin: 0 auto;
  }
  .navbar-brand img {
    margin-left: 25%;
  }
  .footer-cols {
    flex-direction: column-reverse;
  }
  .footer-links, .footer-social {
    text-align: center;
  }
  .footer-links li {
    text-align: center;
    line-height: 15px;
  }
  #footer .footer-social {
    text-align: center;
    margin: 1rem 0;
  }
  #survey-section {
    padding: 1rem;
  }
  .survey-txt p {
    padding: 0;
  }
  #survey-options .col-last {
    margin: 0 auto;
  }
  .w-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1.2rem;
  }
  #survey-options {
    max-width: 80%;
  }
}

/************ Small devices (landscape phones, 576px and up) ************/
@media (min-width: 576px) and (max-width: 767.98px) { ... }
  #survey-options {
    max-width: 100%;
  }
/************ Medium devices (tablets, 768px and up) ************/
@media (min-width: 768px) and (max-width: 991.98px) { 
  .nav-title {
    width: auto !important;
  }
  #survey-options {
    max-width: 100%;
  }
  #hero-section {
    min-height: 700px;
  }
  #top-section {
    background-size: 1200px 900px;
  }
  .scroll-section {
    bottom: unset;
    top: 510px;
  }
}

/************ Large devices (desktops, 992px and up) ************/
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .scroll-section {
    bottom: 25%;
  }
}
/************ Large devices (desktops, 1120px and up) ************/
@media (min-width: 1120px) and (max-width: 1199.00px) { 
  .scroll-section {
    bottom: 14%;
  }
}
/************ Large devices (desktops, 1200px and up) ************/
@media (min-width: 1200px) and (max-width: 1559.00px) { 
  .scroll-section {
    bottom: 4%;
  }
}
/************ Extra large devices (large desktops, 1560px and up) ************/
@media (min-width: 1560px) { 
  .scroll-section {
    bottom: 2%;
  }
}