/***************************************
Developed by: Pasindu Upendra
Contact: pasindu@toadcreatives.com
URI: toadcreatives.com
.............................=======:...
...................~~~~~~~.~~~~~======..
..................=~~~~~~~~~~~.....~~~..
..................~~~...~~~~......:~~~..
.................=~~~...=~~~.....~~~~...
..............~~~~~~~~~~~~~.....~~~~....
..........~~~~~~~~..~~~~~~.....~~~~.....
........~~~~~~~...~~:...................
......~~~~~..,~~~~~~~~~~~...............
....:~~~~....~~~~~:.~~~~~~~.............
...~~~~.................~~~~............
...~~~...................~~~~...........
..~~~~....................:~~~..........
..~~~......................~~~~.........
..~~~.......................~~~.........
..~~~.......................~~~.........
..~~~.......................~~~.........
..~~~~......................~~~.........
...~~~.....................~~~~:........
...~~~~...................~~~~~~........
....~~~~~................~~~~~~~........
......~~~~~,..........~~~~~~.~~~~.......
........~~~~~~~~~~~~~~~~~~....~~~~~=....
...........~~~~~~~~~~~~........~~~~~....
........................................  

***************************************/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800');
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
html {
    height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
}
main.container-fluid {
  padding: 0;
}
.no-gutter {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.wow {
  visibility: hidden;
}
.font-weight-light {
  font-weight: 300 !important;
}
.font-weight-normal {
  font-weight: 400 !important;
}
.font-weight-medium {
  font-weight: 500 !important;
}
.font-weight-semibold {
  font-weight: 600 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.bouncing {
     animation: bouncing 3s infinite;
}
 @keyframes bouncing {
     0% {
         transform: translateY(0);
    }
     40% {
         transform: translateY(-8px);
    }
     60% {
         transform: translateY(8px);
    }
}
/*********** Footer ***********/
#footer {
  padding: 2rem 0 1rem 0;
  background: #deeef2;
}
.footer-links, .footer-social {
    margin-bottom: 0;
}
.footer-links li {
    display: inline-block;
    padding: 0 1.2em;
    border-right: 1px solid #fff;
    line-height: 12px;
    color: #5ba5b8;
    letter-spacing: .5px;
    font-size: 14px;
}
.footer-links li:last-child {
  padding-right: 0;
  border: none;
}
.footer-links li a {
  color: #5ba5b8;
}
.footer-social li {
    display: inline-block;
    padding: 0 .3em;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
.footer-social li:hover {
    -moz-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
/************ Home ************/
#top-section {
    background: url(../img/hero_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}
#hero-section {
    text-align: center;
    min-height: 90vh;
}
#hero-section h1 {
    color: #45474b;
    font-weight: 300;
    letter-spacing: 1.5px;
    font-size: 3.2em;
    margin-bottom: 2vh;
}
#hero-section h3 {
  font-size: 1.4em;
    color: #96a2a5;
    font-weight: 300;
    padding: 0 4vw;
    margin-bottom: 24%;
}
.hero-logo {
    margin-top: 20%;
    margin-bottom: 10%;
}
.scroll-section {
    position: absolute;
    width: 100%;
    bottom: 65px;
    text-align: center;
}
.scroll-icon {
  background: url(../img/scroll_bg.png);
  background-size: contain;
  width: 70px;
    height: 85px;
    margin: 0 auto;
}
.scroll-arrow {
    margin-top: 30px;
    max-width: 15px;
}
.section-2-col {
  text-align: center;
}
.section-2-col img {
    margin-right: -18px;
}
.section-2-col h3 {
    font-size: 1.35em;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 16px;
    color: #45474b;
}
.section-2-col p {
    padding: 0 2em;
    color: #71a0ad;
    font-size: 17px;
}
.slack-btn img {
    padding: 5px 3%;
    border: 5px solid #e3e3e7 !important;
    border-radius: 50px;
    width: 35%;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.04);
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.04);
}
#video-section {
  padding: 0;
  background: url(../img/video_section_bg.png);
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  overflow: hidden;
}
#video-section .plyr__poster {
    background-size: cover !important;
}
#video-section .plyr--stopped .plyr__controls {
    opacity: 0;
}
#video-section .plyr__control--overlaid {
    background: rgba(163,209,253,0.8);
    padding: 35px;
}
#video-section .plyr--video {
    border: none;
    border-radius: 80px;
}
#video-section .video-col {
    padding: 2.5%;
    border: 10px solid #f0f3f3;
    border-radius: 110px;
}
/************  Extra small devices (portrait phones, less than 576px) ************/
@media (max-width: 575.98px) { ... }

/************ Small devices (landscape phones, 576px and up) ************/
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/************ Medium devices (tablets, 768px and up) ************/
@media (min-width: 768px) and (max-width: 991.98px) { ... }

/************ Large devices (desktops, 992px and up) ************/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/************ Extra large devices (large desktops, 1200px and up) ************/
@media (min-width: 1200px) { ... }